body {
    padding: 0;
    margin: 0;
    border: 0;
}

.sidebar {
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: #eee;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0 8px;
}

.main {
    margin-left: calc(15% + 20px);
    padding: 10px 10px;
}

.flex-row {
    width: 100%;
    display: flex;
}

.flex-row div {
    flex-grow: 1;
}

/* markdown styles */
p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: #0050ac;
    width: 100%;
}

a:hover {
    color: #00accf;
    text-decoration:none;
    cursor:pointer;
}

a.disabled {
    color: black;
    pointer-events: none;
    cursor: default;
}

:is(h1,h2,h3,h4,h5,h6) a.anchor {
    display: none;
}

:is(h1,h2,h3,h4,h5,h6):hover a.anchor {
    display: inline;
}

.toc_1, .toc_1 ul {
  list-style-type: none;
}

.toc_1 {
  padding: 0;
}

.toc_1 ul {
  padding-inline-start: 2ch;
}

code {
    background-color: #efefef;
}

/* for code highlight */
.source.highlight {
    background-color: #efffef;
    margin: 5px 0;
    padding: 0 0;
}

.highlight {
    background-color: #efefef;
    margin: 5px 0;
    padding: 1px 10px;
}

.highlight .kn { color: #AA22FF; font-weight: bold }
.highlight .kd { color: #AA22FF; font-weight: bold }
.highlight .k { color: blue; }
.highlight .n { color: #222 }
.highlight .s { color: #BB4444 }
.highlight .c1 { color: green }
.highlight .gr { color: red }
