{% extends "base.html.jinja2" %}
{% block base_path %}..{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
    <div class="sidebar">
        {% for x in toc %}
            {{ x }}
        {% endfor %}
    </div>
    <div class="main"> {{ body }} </div>
{% endblock %}

