{% extends "base.html.jinja2" %}
{% block head %}
	<script type="text/javascript"
            id="MathJax-script"
            async
            src="../scripts/tex-mml-chtml.js">
    </script>

    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
{% endblock %}
{% block base_path %}..{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
    <div class="sidebar">
        <div class="flex-row">
            <div style="text-align: left"><a {{ prev }}>prev</a></div>
            <div style="text-align: center"><a {{ up }}>up</a></div>
            <div style="text-align: right"><a {{ next }}>next</a></div>
        </div>
        <div style="width: 100%">
            {% for x in toc %}
                {{ x }}
            {% endfor %}
        </div>
    </div>
    <div class="main"> {{ body }} </div>
{% endblock %}

